Repository coreos/afterburn, pull requests merged in 2020-08, with the labels that each got.

#468 azure: rework ready-state posting
  src/providers/azure/goalstate.rs
  src/providers/azure/mock_tests.rs
  src/providers/azure/mod.rs
Labels: platform/azure

#474 Release 4.5.0
  Cargo.lock
  Cargo.toml
Labels: kind/release

#475 ibmcloud: add support for SSH keys
  Cargo.lock
  Cargo.toml
  README.md
  src/providers/ibmcloud/mod.rs
  systemd/afterburn-sshkeys@.service.in
  tests/fixtures/ibmcloud/vendor-data
Labels: kind/enhancement, platform/ibmcloud
